<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="User ID =CryptoUser1;Password=R1chRedP@nda;Server=localhost;Port=5432;Database=Crypto;Pooling=true;"/>
    <add key="LogFileDirectory" value="..\Logs\"/>
    <add key="LogFileName" value="ErrorLog.txt"/>
    <add key="Mode" value="GitHub"/> <!--Dummy=Do Not Call Binance / Test=Call Binance Test Methods / Real=Call Binance Normal Methods / GitHub=GitHub test environment-->
    <add key="ApiKey" value="PtQO1VvdQUKPxJ6qe2yZruTLjoBvqc8EszVlEIhUUHyGpF3Z924riwqxJVS5t5yi"/>
    <add key="ApiSecret" value="CXZohJ2jOUln1U9ZZcqft5Kt9jzbsuWcsAI2mn6E4EABBEW4qRuh82p4eK5BzmQy"/>
  </appSettings>
</configuration>