<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="User ID =CryptoUser1;Password=R1chRedP@nda;Server=localhost;Port=5432;Database=Crypto;Pooling=true;"/>
    <add key="LogFileDirectory" value="..\Logs\"/>
    <add key="LogFileName" value="ErrorLog.txt"/>
    <add key="Mode" value="Dummy"/> <!--Dummy=Do Not Call Binance / Test=Call Binance Test Methods / Real=Call Binance Normal Methods -->
  </appSettings>
</configuration>